.about {
    
    color: var(--text-color-dark);
    .about-details {
        .about-description {
            display: flex;
            justify-content: center;  /* Aligns content to the left horizontally */
            align-items: flex-start;          /* Vertically centers the content */
            flex-direction: column;       /* Stacks child divs vertically */
            height: 100vh;
            background-color: #f0f0f0;
            padding: 2rem;

            .self-description {
                text-align: left;
                width: 60%;
                margin: 1px;
                color: var(--text-color-dark);
            }
            .name-role {
                display: flex;
                h1{
                    margin: 1px;
                }
            }
            .social-profile {
                margin-top: 5px;
                display: flex;
                gap: 20px;

                .profile-link {
                    display: block;
                    width: 30px; /* Adjust size of the logo */
                    height: 30px; /* Adjust size of the logo */
                    overflow: hidden; /* Hide any overflow from the image */
                }
                .logo {
                    width: 100%;
                    height: 100%;  /* Ensures the div takes up the full width and height of its parent */
                    background-size: cover;  /* Ensures background image covers the div */
                    background-position: center;  /* Center the image */
                    background-repeat: no-repeat;  /* Prevents the image from repeating */
                   
                    background-color: var(--background-color); /* Change to any color */
                    -webkit-mask-repeat: no-repeat;
                    mask-repeat: no-repeat;
                    -webkit-mask-size: contain;
                    mask-size: contain;
                    
                    &:hover {
                        background-color: var(--secondary-color);
                    }
                  }

                .logo.linkedin {
                    -webkit-mask-image: url('../assets/linkedin-logo.svg');
                    mask-image: url('../assets/linkedin-logo.svg');
                }                  
                .logo.github {
                    -webkit-mask-image: url('../assets/github-logo.svg');
                    mask-image: url('../assets/github-logo.svg');
                }
                
                .logo.leetcode {
                    -webkit-mask-image: url('../assets/leetcode-logo.svg');
                    mask-image: url('../assets/leetcode-logo.svg');
                }
                
                .logo.credly {
                    -webkit-mask-image: url('../assets/credly-logo.svg');
                    mask-image: url('../assets/credly-logo.svg');
                }
            }
        }

        .about-image {
            width: 40%;
            height: max-content;       
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
            overflow: hidden;

            background-color: var(--secondary-color);
            img {
                width: 100%;
            }
        }
    }
    .job-title-details {
        text-align: center;
    }
    .job-title {
        color: var(--secondary-color);
    }
    .skills-title {
        text-align: center;
        color: var(--secondary-color);
        font-size: 32px;
        margin-top: 20px;
    }
    .skills {
        display: flex;
        flex-wrap: wrap;
        gap: 25px 100px;
        text-align: center;
        justify-content: center;

        .skill-section:hover {
            color: var(--secondary-color);
        }

        .skill-item {
            margin: 5px;
        }

        h3 {
            font-size: 1.8em;
            margin: 0px;
        }
    }
}